*{
    Margin: 0;
    padding:0;}

.flecha_arriba{
    height: 50px;
    width: 50px;
    margin: 5px;}

    /* Body Nuevo*/

body{
    background-color: white;
    font-family: sans-serif;
    padding: 108px 0 0 0;
    min-height: 100vh;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #83a7e0 100%);}

    /*Sección Header Principal con Boostrap*/
.logo-rpc{
    height: 85px;
    width: 85px;
    padding: 5px;}
    
.barra-rpc a{
    text-decoration: none;
    color: black;
    color: rgb(23, 21, 160);
    font-weight:600;
    font-size: larger;}
    
.desplegable {
    color: #234369;
    border: 1.5px solid rgb(34, 21, 145);
    border-radius: 7px;
    min-width: 6rem;
    padding: 0.5rem .5rem;
    transition: 0.9s;}
    
.desplegable:hover{
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #8f9cdf 0%, #ceceee 100%);
    transition: 0.9s;}
    
.navbar{
    width: 100%;
    padding: 6px 0;
    display:flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    margin-right: 5px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #8f9cdf 0%, #ceceee 100%);}

.navbar-collapse {
    flex-grow: 0;}


/* Barra Navegación Páginas con Boostrap*/

.barra-navegacion{
    display:flex;
    justify-content: end;}
 
.barra-page a{
    text-decoration: none;
    color: black;}

.navbar-light .navbar-nav .nav-link {
    color: black;}
    
.barra-page{
    width: 100%;
    padding: 6px 0;
    display:flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    margin-right: 5px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #8f9cdf 0%, #ceceee 100%);}

    /* Sección Presentación*/

.presentacion{
    height: 480px;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;}

.presentacion h1{
    font-size: 50px;
    color: blue;
    font-style: oblique;
    text-align: center;}

.video{
    border: 5px solid red;
    width: 560px;
    height:320px;}

    /* Sección Nosotros*/
 
.nosotros{
    height: 390px;
    font-size: 8pt;}

.nosotros_interno{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;}

.nosotros h2{
    color: rgb(47, 50, 255);
	font-size: 50px;
	text-align: center;}

article p{
    text-align: center;
    font-size: 30px;
    font-family: "Comic Sans MS", sans-serif;}

article img{
    width: 400px;
    height:230px;}

    /* Seccion Testimonios */

#testimonios h2{
    color: rgb(47, 50, 255);
    font-size: 50px;
    text-align: center;}

#testimonios p{
    font-style: italic;
    font-size: 20px;
    text-align:inherit;
    color: black;
    margin:3px;
    border-color: #aaaaaa;
    border-width: 3px;
    border-style: solid;}

.test_1{
    background-color: aquamarine;}

.test_2{
    background-color: rgb(201, 248, 203);}

.test_3{
    background-color: rgb(236, 252, 191);}

.test_4{
    background-color: rgb(241, 219, 245);}

.test_5{
    background-color: white;}

.test_6{
    background-color: pink;}

    /* GRID a Testimonios*/

.testimonios_cajas{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 5px;
    justify-items: center;
    font-size: 15px;}

    /*Sección Contacto*/

#contacto{
    height: 490px;
    font-size: 8pt;}

#contacto h2{
    color: rgb(47, 50, 255);
    font-size: 50px;
    text-align: center;}

.formulario{
    display:flex;
    justify-content: center;}

    /*Footer*/

.pie_pagina{
    position: sticky;
    bottom: 0;
    width: 100%;
    height: 45px;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #8f9cdf 0%, #ceceee 100%);}

.pie_pagina a{
    width: 45px;
    height: 45px;
    text-align: center;
    padding-top: 8px;
    color: blue;}

.pie_pagina{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    font-size: 28px;}

.pie_pagina a:hover{
    transform: scale(1) translateY(-10px);
    transition: 0.3s;
    color: black;
    background-color: rgb(152, 158, 158);
    border-radius: 8%;
    border-color: #4158D0;
    border-style:inherit;}

    /* GRID a Páginas de Profesionales */

.profesionales_cajas{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 5px;
    justify-items: center;
    font-size: 15px;}

.profesionales_int{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: #aaaaaa solid;}

.profesionales_cajas img{
    width:200px;
    height:200px;
    margin: 5px;
    border-style: groove;
    border-color: rgb(205, 182, 226);}

.profesionales_tit{
    margin: 15px;
    text-align: center;
    color: rgb(47, 50, 255);
    font-size: 35px;}


    /* Media Queries */

@media only screen and (max-width: 768px){

.flecha_arriba{
    display:none}
       
    /* Sección Encabezado */
.barra-navegacion{
    font-size: 16px;}

.logo-rpc{
    height: 75px;
    width: 75px;
    padding: 4px;}

    /* Sección Presentacion */

.presentacion{
    height: 381px;
    justify-content: space-evenly;
    padding-top:10px;}

.presentacion h1{
    font-size: 31px;}

.video{
    border: 5px solid rgb(129, 104, 104);
    width: 425px;
    height:245px;
    border-radius: 10px;}

    /* Sección Nosotros */

.nosotros{
    height: 265px;}

.nosotros h2{
	font-size: 36px;
    padding: 10px;}

.nosotros_interno img{
   width: 251px;
   height:148px; 
   border: 5px groove rgb(129, 104, 104); 
   border-radius: 15px;}

.nosotros_interno p{
    font-size: 23px; }

.flecha_arriba {
    height: 35px;
    width: 35px;
    margin: 6px; }

    /* Sección Testimonios */

#testimonios h2{
   font-size: 36px;}

.testimonios_cajas{
    font-size: 6px;}  

.testimonios_cajas{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 2px;
    justify-items: center;}

#testimonios p{
  font-style: talic;
  font-size: 16px;}

    /* Sección Contacto */

#contacto{
    height: 370px;}

#contacto h2{
    font-size: 29px;}
    
    /* Footer */

.pie_pagina a{
    height: 32px;}

.pie_pagina{
    height: 40px;
    font-size: 25px;}

    /* PAGINAS PROFESIONALES */

.profesionales_cajas{
    grid-template-columns: repeat(2, 1fr);}
    
.profesionales_tit{
    padding-top: 20px;
    font-size: 24px;} 
}

@media only screen and (max-width: 576px){

    /* PAGINA PRINCIPAL */

.flecha_arriba{
    display:none}

    /* Sección Encabezado */

.barra-navegacion{
    font-size: 16px;}

.container-fluid{
    padding-left: var(--bs-gutter-x,0px);
    padding-right: var(--bs-gutter-x,30px);} 

.navbar-brand{
    margin-right: 0px;}

.logo-rpc{
    height: 75px;
    width: 75px;
    padding: 4px;}

.barra-rpc a {
    font-size: small;}

    /* Sección Presentacion */

.presentacion{
    height: 381px;
    justify-content: space-evenly;
    padding-top:10px;}

.presentacion h1{
    font-size: 22px;}

.video{
    border: 5px solid rgb(129, 104, 104);
    width: 398px;
    height:223px;}

    /* Sección Nosotros */

.nosotros{
    height: 190px;
    font-size: 8pt;}

.nosotros h2{
	font-size: 30px;}

.nosotros_interno img{
   width: 190px;
   height:89px;}

.nosotros_interno p{
    font-size: 15px;}

.flecha_arriba{
    height: 35px;
    width: 35px;
    margin: 6px;}

    /* Sección Testimonios */

#testimonios h2{
   font-size: 30px;}

.testimonios_cajas{
    font-size: 6px;}  

.testimonios_cajas{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 2px;
    justify-items: center;}

#testimonios p{
  font-style: italic;
  font-size: 12px;}

    /* Sección Contacto */

#contacto{
    height: 370px;}

#contacto h2{
    font-size: 29px;}

    /* Footer */

.pie_pagina{
    height: 40px;
    font-size: 24px;}

.pie_pagina a{
    height: 32px;}
    
    /* PAGINA PROFESIONALES */

.profesionales_tit{
    padding-top: 20px;
    font-size: 17px;}
    
.profesionales_cajas{
    grid-template-columns: repeat(1, 1fr);}
}
@media only screen and (max-width: 350px){

    /* PAGINA PRINCIPAL */

.flecha_arriba{
    display:none}

    /* Sección Encabezado */

.navbar-brand{
    margin-right: 0px;}

.barra-navegacion{
    font-size: 6px;}

.barra-rpc a{
    font-size: small;}

.logo-rpc{
    height: 75px;
    width: 75px;
    padding: 2px;}

    /* Sección Presentacion */

.presentacion{
    height: 381px;
    justify-content: space-evenly;
    padding-top:10px;}

.presentacion h1{
    font-size: 22px;}

.video{
    border: 5px solid rgb(129, 104, 104);
    width: 398px;
    height:223px;}

    /* Sección Nosotros */

.nosotros{
    height: 190px;
    font-size: 8pt;}

.nosotros h2{
	font-size: 30px;}

.nosotros_interno img{
   width: 190px;
   height:89px;}

.nosotros_interno p{
    font-size: 15px;}

.flecha_arriba{
    height: 35px;
    width: 35px;
    margin: 6px;}

    /* Sección Testimonios */

#testimonios h2{
   font-size: 30px;}

.testimonios_cajas{
    font-size: 6px;}  

.testimonios_cajas{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 2px;
    justify-items: center;}

#testimonios p{
  font-style: italic;
  font-size: 12px;}

    /* Sección Contacto */

#contacto{
    height: 370px;}

#contacto h2{
    font-size: 29px;}

    /* Footer */

.pie_pagina{
    height: 40px;
    font-size: 24px;}

.pie_pagina a{
    height: 32px;}
    
    /* PAGINA PROFESIONALES */

.profesionales_tit{
    padding-top: 20px;
    font-size: 17px;}
    
.profesionales_cajas{
    grid-template-columns: repeat(1, 1fr);}
}
.barra-navegacion{
    font-size: 12px;}

.nav-link {
    display: block;
    padding: 2px;}
    
.elemento {
    margin-right: 12px;}